# MailOdds.Model.ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**Email** | **string** |  | [optional] 
**Status** | **string** |  | [optional] 
**SubStatus** | **string** |  | [optional] 
**Action** | **string** |  | [optional] 
**ProcessedAt** | **DateTime** |  | [optional] 

[[Back to Model list]](../../README.md#documentation-for-models) [[Back to API list]](../../README.md#documentation-for-api-endpoints) [[Back to README]](../../README.md)

